

body{
    font-family: 'Josefin Sans', sans-serif;;
}


/* container */

.container{
    margin: 0 auto;
    width: 1000px;
}

.home-title{
	color: red;
    background-color: blueviolet;
    font-size: 30px;
}

.skills-title{
    color: rgb(25, 255, 25);
    background-color: rgb(142, 181, 65);
}
.resume-title{
    color: rgb(255, 0, 0);
    background-color: chartreuse;
}
.works-title{
    color: rgb(0, 0, 255);
    background-color: orange
}
.contacts-title{
    color: coral;
    background-color: rgb(218, 18, 58);
} 
.home-menu__link{
    color: aqua;
}        

.home-menu__link:hover{
    color: red;
    
}   

.skills-menu__link{
    color: rgb(0, 30, 255);
    transform: rotate(0deg);
    transition: 0.3s;
    
}

.skills-menu:hover{
    /* color: white; */
    transform: rotate(360deg);
    transition: 0.3s;
    
}
.resume-menu__link{
    color: maroon;
}
.works-menu__link{
    color: purple;
}   
.contacts-menu__link{
    color: darkred;
}


/* --- Header --- */


.header{

}

/* Menu */

.header-menu{
    padding: 20px 0;
    display: flex;  
    gap: 30px;
    list-style: none;
}

.header-menu li{
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.link__active{
    background-color: hotpink;
    
}
