
*{
  margin: 0;
  padding: 0;
}

.school-wrap{
  height: 100vh;
  background-color: #cacaca;
  padding: 10px;
}

.school-links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

p{
  margin-bottom: 15px;
}

.history-wrap{
  background-color: #6efaff57;
  height: 100vh;
}

.container{
  padding: 0 10px;
  max-width: 1000px;
}

/* HISTORY */
